/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2014, 1:12:20 PM
    Author     : yasha
*/

#saveButton {
    height: 50px;
    width: 50px;
    background: blue;
    color: orange;
}
.hit, .miss {
    height: 25px;
    width: 50px;
    border-radius: 5px;
    background-color: #69d2e7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    -webkit-appearance: push-button;
}

.label {
    height: 25px;
    text-align: center;
}


#container {
    width: 90%;
    margin: 0 auto;
}

#header {
    padding: 0 10px;
}

#header h1{
    margin: 0;
    padding: 10px 0;
    font-family: Impact, fantasy;
}

#content {
    margin: 0 20px 0 20px;
    font-family: Helvetica Narrow, sans-serif;
}

#footer {
    padding: 0 10px;
    font-family: Georgia, sans-serif;
}

#footer p{
    margin: 0;
    padding: 10px 0;
}

.clearFloat {
    clear: both;
}

#matrixUI .matrixBlue {
    background-color: blue;
    height: 20px;
    width: 20px;
}

#matrixUI .matrixWhite {
    background-color: white;
    height: 20px;
    width: 20px;
}

#matrixUI .matrixRed {
    background-color: red;
    height: 20px;
    width: 20px;
}