/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2014, 1:12:20 PM
    Author     : yasha
*/

#saveButton {
    height: 100px;
    width: 150px;
    background-color: blue;
    color: orange;
    font-size: 3em;
    text-align: center;
}

#scoutingForm h3 {
    text-align: center;
}

input[type=radio] {
    width: 25px;
    height: 25px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.button, .hit, .miss, .plus, #saveButton {
 font-family: Helvetica ;
 font-weight: bold ;
 padding: 15px; 
 border: 1px solid black ;
 -moz-border-radius: 8px ;
 -webkit-border-radius: 8px ; 
 margin-top: 10px ;
 margin-bottom: 10px ;
 background-color: white ;
}

/*
.hit, .miss, .plus {
    height: 25px;
    width: 50px;
    border-radius: 5px;
    background-color: #69d2e7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    -webkit-appearance: push-button;
}
**/

.counter_label {
    height: 25px;
    width: 40px;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}


#container {
    width: 90%;
    margin: 0 auto;
}

#header {
    padding: 0 10px;
}

#header h1{
    margin: 0;
    padding: 10px 0;
}

#content {
    margin: 0 20px 0 20px;
    font-family: Helvetica Narrow, sans-serif;
}

#footer {
    padding: 0 10px;
    font-family: Georgia, sans-serif;
}

#footer p{
    margin: 0;
    padding: 10px 0;
}

.clearFloat {
    clear: both;
}

#matrixUI .matrixBlue {
    background-color: blue;
    height: 20px;
    width: 20px;
}

#matrixUI .matrixWhite {
    background-color: white;
    height: 20px;
    width: 20px;
}

#matrixUI .matrixRed {
    background-color: red;
    height: 20px;
    width: 20px;
}